<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="main_scooper" params="">
        <joint name="scooper">
        <command_interface name="velocity">
            <param name="min">1.54</param>
            <param name="max">3.0</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
        </joint>
    </xacro:macro>
</robot>